@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
/* line 5, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../scss/style.scss */
* {
  box-sizing: border-box;
}

/* line 14, ../scss/style.scss */
body {
  font-family: 'Oswald', sans-serif;
}

/* line 18, ../scss/style.scss */
button {
  background: none;
  background-color: none;
}
/* line 22, ../scss/style.scss */
button:focus {
  outline: none;
  box-shadow: none;
}

/* line 29, ../scss/style.scss */
section:not(:first-child) {
  margin-top: 50px;
}

/* line 34, ../scss/style.scss */
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Oswald", sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 0 10px grey;
  background-color: #fff;
  z-index: 99999;
}
/* line 46, ../scss/style.scss */
.navigation .navigation__inner-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
/* line 57, ../scss/style.scss */
.navigation .navigation__inner-wrapper .navigation__brand {
  display: inline-block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
/* line 63, ../scss/style.scss */
.navigation .navigation__inner-wrapper .navigation__brand img {
  max-width: 180px;
}
/* line 68, ../scss/style.scss */
.navigation .navigation__inner-wrapper .navigation__toggle-bar {
  display: none;
  margin-left: auto;
}
/* line 72, ../scss/style.scss */
.navigation .navigation__inner-wrapper .navigation__toggle-bar .openMenu {
  font-size: 20px;
  padding: 3px 13px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #4d4d4d;
  color: #4d4d4d;
  border-radius: 3px;
}
@media screen and (max-width: 992px) {
  /* line 68, ../scss/style.scss */
  .navigation .navigation__inner-wrapper .navigation__toggle-bar {
    display: block;
  }
}
/* line 87, ../scss/style.scss */
.navigation .navigation__inner-wrapper .navigation-menu {
  flex: 1 1 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  transition: height 0.2s linear;
}
/* line 95, ../scss/style.scss */
.navigation .navigation__inner-wrapper .navigation-menu .navigation-menu__link {
  font-size: 20px;
  padding: 3px 8px;
}
/* line 102, ../scss/style.scss */
.navigation .navigation__inner-wrapper .navigation-menu .navigation-menu__link:after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  margin-top: 3px;
  background-color: #dc2c1d;
  transition: .2s linear;
}
/* line 114, ../scss/style.scss */
.navigation .navigation__inner-wrapper .navigation-menu .navigation-menu__link:hover:after {
  width: 100%;
}
/* line 118, ../scss/style.scss */
.navigation .navigation__inner-wrapper .navigation-menu .navigation-menu__link a {
  text-decoration: none;
  color: #4d4d4d;
}
/* line 125, ../scss/style.scss */
.navigation .navigation__inner-wrapper .navigation-menu .menuCloser {
  display: none;
}
@media screen and (max-width: 992px) {
  /* line 87, ../scss/style.scss */
  .navigation .navigation__inner-wrapper .navigation-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 0px;
    overflow: hidden;
    width: 100%;
  }
  /* line 187, ../scss/style.scss */
  .navigation .navigation__inner-wrapper .navigation-menu.navigation-menu {
    margin-right: -15px;
    margin-left: -15px;
  }
  /* line 191, ../scss/style.scss */
  .navigation .navigation__inner-wrapper .navigation-menu .navigation-menu__link {
    padding: 15px  15px;
  }
  /* line 193, ../scss/style.scss */
  .navigation .navigation__inner-wrapper .navigation-menu .navigation-menu__link:after {
    display: none;
  }
  /* line 198, ../scss/style.scss */
  .navigation .navigation__inner-wrapper .navigation-menu .navigation-menu__link:hover:after {
    width: 0;
  }
  /* line 201, ../scss/style.scss */
  .navigation .navigation__inner-wrapper .navigation-menu .navigation-menu__link:not(:last-child) {
    border-bottom: 1px solid black;
  }
  /* line 204, ../scss/style.scss */
  .navigation .navigation__inner-wrapper .navigation-menu .navigation-menu__link:last-child {
    padding-bottom: 3px;
  }
}

/* line 213, ../scss/style.scss */
.slider-1 {
  margin-top: 10vh;
  margin-bottom: 10vh;
}
/* line 217, ../scss/style.scss */
.slider-1 .slider-heading {
  font-size: 50px;
  font-family: "Lobster", cursive;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
/* line 225, ../scss/style.scss */
.slider-1 .owl-stage-outer {
  position: relative;
  max-width: 768px;
  margin-right: auto;
  margin-left: auto;
}
/* line 232, ../scss/style.scss */
.slider-1 .owl-stage {
  height: 100%;
}
/* line 238, ../scss/style.scss */
.slider-1 .owl-item .bgi-div {
  max-width: 768px;
  width: 100%;
  height: 475px;
}
/* line 246, ../scss/style.scss */
.slider-1 .owl-item:nth-of-type(1) .bgi-div {
  background: url("../images/1.JPG") no-repeat bottom center;
  background-size: cover;
}
/* line 253, ../scss/style.scss */
.slider-1 .owl-item:nth-of-type(2) .bgi-div {
  background: url("../images/2.JPG") no-repeat bottom center;
  background-size: cover;
}
/* line 260, ../scss/style.scss */
.slider-1 .owl-item:nth-of-type(3) .bgi-div {
  background: url("../images/3.JPG") no-repeat bottom center;
  background-size: cover;
}
/* line 267, ../scss/style.scss */
.slider-1 .owl-item:nth-of-type(4) .bgi-div {
  background: url("../images/4.JPG") no-repeat bottom center;
  background-size: cover;
}
/* line 276, ../scss/style.scss */
.slider-1 .owl-controls {
  display: flex;
  justify-content: space-between;
}
/* line 280, ../scss/style.scss */
.slider-1 .owl-controls button {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  background: none;
  border: none;
  color: white;
  font-size: 5em;
  cursor: pointer;
}
/* line 292, ../scss/style.scss */
.slider-1 .owl-controls button:hover, .slider-1 .owl-controls button:active {
  color: rgba(255, 255, 255, 0.7);
}
/* line 298, ../scss/style.scss */
.slider-1 .owl-controls .falseNavigationLeft {
  border-radius: 0 5px 5px 0;
  left: 0;
  text-align: left;
  margin-left: auto;
}
/* line 305, ../scss/style.scss */
.slider-1 .owl-controls .falseNavigationRight {
  border-radius: 5px 0 0 5px;
  right: 0;
  text-align: right;
  margin-right: auto;
}

/* line 361, ../scss/style.scss */
.header {
  position: relative;
  padding: 9em 0 2em 0;
  background: url("https://i.ibb.co/whwYfv4/beach-background-laptop-97374.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  text-align: center;
}
@media (max-width: 768px) {
  /* line 361, ../scss/style.scss */
  .header {
    max-height: 600px;
    padding: 6em 0 2em 0;
  }
}
@media (max-width: 576px) {
  /* line 361, ../scss/style.scss */
  .header {
    padding: 3em 0 2em 0;
  }
}
/* line 379, ../scss/style.scss */
.header .container {
  max-width: 1110px;
  margin: 0 auto;
}
/* line 384, ../scss/style.scss */
.header .header__title {
  font-family: "Lobster", cursive;
  font-size: 8em;
  color: #dc2c1d;
  line-height: 0.8em;
  max-width: 850px;
  margin: 0 auto 3rem auto;
}
@media (max-width: 992px) {
  /* line 384, ../scss/style.scss */
  .header .header__title {
    font-size: 6em;
    max-width: 65%;
  }
}
@media (max-width: 768px) {
  /* line 384, ../scss/style.scss */
  .header .header__title {
    font-size: 4em;
    max-width: 60%;
  }
}
@media (max-width: 576px) {
  /* line 384, ../scss/style.scss */
  .header .header__title {
    font-size: 3em;
    max-width: 60%;
  }
}
/* line 408, ../scss/style.scss */
.header .header__title_left {
  text-align: left;
}
/* line 412, ../scss/style.scss */
.header .header__title_right {
  display: block;
  text-align: right;
}
/* line 417, ../scss/style.scss */
.header .header__subtitle {
  font-size: 3.5em;
  margin-bottom: 3rem;
}
@media (max-width: 992px) {
  /* line 417, ../scss/style.scss */
  .header .header__subtitle {
    font-size: 2.5em;
  }
}
@media (max-width: 768px) {
  /* line 417, ../scss/style.scss */
  .header .header__subtitle {
    font-size: 2em;
  }
}
/* line 429, ../scss/style.scss */
.header .header__subtitle:before {
  content: "";
  height: 3px;
  width: 90%;
  background: #000;
  display: block;
  margin: 0 auto 20px auto;
}
@media (max-width: 768px) {
  /* line 429, ../scss/style.scss */
  .header .header__subtitle:before {
    height: 2px;
  }
}
/* line 443, ../scss/style.scss */
.header .header__text {
  font-weight: 500;
  font-size: 3em;
  line-height: 1.25;
  margin: 0 2rem;
}
@media (max-width: 992px) {
  /* line 443, ../scss/style.scss */
  .header .header__text {
    font-size: 2em;
  }
}
@media (max-width: 768px) {
  /* line 443, ../scss/style.scss */
  .header .header__text {
    font-size: 1.7em;
  }
}
@media (max-width: 576px) {
  /* line 443, ../scss/style.scss */
  .header .header__text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
/* line 463, ../scss/style.scss */
.header .header__text span:not(:first-child):before {
  content: "";
  background-image: url("https://i.ibb.co/C2gVk9Z/3-55.png");
  display: inline-block;
  width: 28px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 12px;
  margin-left: 12px;
}
@media (max-width: 576px) {
  /* line 463, ../scss/style.scss */
  .header .header__text span:not(:first-child):before {
    width: 15px;
    height: 15px;
  }
}
/* line 481, ../scss/style.scss */
.header .header__text span:last-child:after {
  display: none;
}

/* line 487, ../scss/style.scss */
.header__phone {
  margin-top: 7rem;
  display: inline-block;
  font-size: 50px;
  text-decoration: none;
  color: #dc2c1d;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
/* line 497, ../scss/style.scss */
.header__phone i,
.header__phone svg {
  color: #5a585b;
  fill: #5a585b;
}
@media (max-width: 992px) {
  /* line 487, ../scss/style.scss */
  .header__phone {
    font-size: 3em;
    margin-top: 0;
  }
}
@media (max-width: 576px) {
  /* line 487, ../scss/style.scss */
  .header__phone {
    font-size: 1.8em;
    margin-top: 0;
  }
}

/* line 514, ../scss/style.scss */
.title {
  font-family: "Lobster", cursive;
  font-size: 3em;
  text-align: center;
  margin-bottom: 3rem;
}

/* line 521, ../scss/style.scss */
.advantages {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  /* line 521, ../scss/style.scss */
  .advantages {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  /* line 532, ../scss/style.scss */
  .advantages .advantages__item {
    flex: 0 1 30%;
    margin-bottom: 20px;
  }
}
/* line 538, ../scss/style.scss */
.advantages .advantages__item img {
  width: 6em;
  margin-bottom: .9rem;
}
/* line 543, ../scss/style.scss */
.advantages .advantages__item .icon {
  font-size: 2.5em;
  color: #7E7B7F;
  margin-bottom: .7rem;
}
/* line 549, ../scss/style.scss */
.advantages .advantages__item .advantages__text {
  width: 8rem;
}
@media (max-width: 768px) {
  /* line 549, ../scss/style.scss */
  .advantages .advantages__item .advantages__text {
    width: auto;
  }
}

/* line 559, ../scss/style.scss */
.ways {
  padding: 3rem 0;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}
/* line 565, ../scss/style.scss */
.ways .directions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* line 570, ../scss/style.scss */
.ways .directions .directions__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: ease 0.4s all;
}
/* line 581, ../scss/style.scss */
.ways .directions .directions__card {
  position: relative;
  transition: ease 0.4s all;
  margin-bottom: 2rem;
  flex: 0 1 45%;
  position: relative;
  padding: 5rem 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 270px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 590, ../scss/style.scss */
.ways .directions .directions__card:nth-of-type(1) {
  background-image: url("../images/seas/zalizny-port.jpg");
}
/* line 594, ../scss/style.scss */
.ways .directions .directions__card:nth-of-type(2) {
  background-image: url("../images/seas/berdyansk.jpg");
}
/* line 598, ../scss/style.scss */
.ways .directions .directions__card:nth-of-type(3) {
  background-image: url("../images/seas/lazurnoe.jpg");
}
/* line 602, ../scss/style.scss */
.ways .directions .directions__card:nth-of-type(4) {
  background-image: url("../images/seas/kirilovka.jpg");
}
/* line 606, ../scss/style.scss */
.ways .directions .directions__card:nth-of-type(5) {
  background-image: url("../images/seas/skadovsk.jpg");
}
/* line 610, ../scss/style.scss */
.ways .directions .directions__card:nth-of-type(6) {
  background-image: url("../images/seas/schastlivcevo.jpg");
}
/* line 614, ../scss/style.scss */
.ways .directions .directions__card:nth-of-type(7) {
  background-image: url("../images/seas/genichesk.jpg");
}
@media (max-width: 992px) {
  /* line 581, ../scss/style.scss */
  .ways .directions .directions__card {
    flex: 0 1 85%;
    height: 50vh;
  }
}
@media (max-width: 576px) {
  /* line 581, ../scss/style.scss */
  .ways .directions .directions__card {
    flex: 0 1 85%;
    height: 40vh;
  }
}
/* line 637, ../scss/style.scss */
.ways .directions .directions__card .directions__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 643, ../scss/style.scss */
.ways .directions .directions__card .directions__content .directions__icon {
  color: #fff;
  font-size: 2em;
  z-index: 2;
}
/* line 649, ../scss/style.scss */
.ways .directions .directions__card .directions__content .directions__title {
  font-size: 1.8em;
  font-weight: 500;
  margin-bottom: 1.8rem;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  z-index: 2;
}
/* line 657, ../scss/style.scss */
.ways .directions .directions__card .directions__content .directions__link {
  color: #fff;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  z-index: 2;
  transition: ease 0.3s all;
}
/* line 665, ../scss/style.scss */
.ways .directions .directions__card .directions__content .directions__link:hover {
  text-decoration: none;
  transform: scale(1.1);
}
/* line 672, ../scss/style.scss */
.ways .directions .directions__card .directions__price {
  font-size: 2em;
  position: absolute;
  bottom: .5rem;
  right: 1rem;
  transform: translate(0%, -50%);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  z-index: 2;
}
/* line 682, ../scss/style.scss */
.ways .directions .directions__card:hover .directions__overlay {
  opacity: 1;
}

/* line 693, ../scss/style.scss */
.sec5 {
  padding-right: 15px;
  padding-left: 15px;
  z-index: 0;
  max-width: 768px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* line 703, ../scss/style.scss */
.why-us {
  font-family: "Lobster", cursive;
  text-align: center;
  font-size: 50px;
}
/* line 708, ../scss/style.scss */
.why-us h2 {
  color: #db2c1d;
}

/* line 713, ../scss/style.scss */
.inside {
  font-family: "Oswald", cursive;
  text-align: center;
  font-size: 25px;
}

/* line 719, ../scss/style.scss */
.why-us__paragraph {
  margin-top: 10px;
  line-height: 1.5;
}
/* line 723, ../scss/style.scss */
.why-us__paragraph:before {
  content: "";
  background-image: url("https://i.ibb.co/C2gVk9Z/3-55.png");
  display: block;
  width: 28px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

/* line 737, ../scss/style.scss */
.end-text {
  margin-top: 40px;
  font-size: 20px;
  text-align: justify;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.5;
}

/* line 747, ../scss/style.scss */
.why-us__logo {
  margin-top: 50px;
}
/* line 750, ../scss/style.scss */
.why-us__logo img {
  max-width: 280px;
}

/* line 755, ../scss/style.scss */
.why-us__tel {
  font-family: "Oswald", cursive;
  text-align: center;
  align-items: center;
  margin-top: 40px;
  font-size: 50px;
}
/* line 762, ../scss/style.scss */
.why-us__tel a {
  color: #d22020;
  text-decoration: none;
}
@media (max-width: 992px) {
  /* line 755, ../scss/style.scss */
  .why-us__tel {
    font-size: 3em;
  }
}
@media (max-width: 576px) {
  /* line 755, ../scss/style.scss */
  .why-us__tel {
    font-size: 1.8em;
  }
}

/* line 777, ../scss/style.scss */
.we__soc {
  font-family: "Oswald";
  text-align: center;
  margin-top: 50px;
  font-size: 28px;
  color: #000000;
}

/* line 785, ../scss/style.scss */
.sec5__soc {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 768px;
}
/* line 796, ../scss/style.scss */
.sec5__soc .social-link {
  flex: 1 1 50%;
  padding: 15px;
}
@media screen and (max-width: 768px) {
  /* line 796, ../scss/style.scss */
  .sec5__soc .social-link {
    flex: 1 1 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
}
/* line 806, ../scss/style.scss */
.sec5__soc .social-link ul {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
/* line 814, ../scss/style.scss */
.sec5__soc .social-link ul:first-child {
  margin-left: auto;
}
/* line 818, ../scss/style.scss */
.sec5__soc .social-link ul:nth-child(1) {
  margin-right: auto;
}
/* line 823, ../scss/style.scss */
.sec5__soc .social-link ul li img {
  margin-right: 5px;
}
/* line 827, ../scss/style.scss */
.sec5__soc .social-link ul li a {
  text-decoration: none;
  color: #000;
  position: relative;
  top: -7px;
}

/* line 839, ../scss/style.scss */
.title-footer {
  font-family: "Oswald";
  text-align: center;
  font-size: 30px;
  margin-top: 15px;
  color: #ffff;
  height: auto;
  padding: 15px;
}

/* line 849, ../scss/style.scss */
.title-footer__two {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: center;
  padding: 0px 10px 15px 0px;
}

/* line 856, ../scss/style.scss */
.footer-link {
  color: #fff;
  font-weight: lighter;
}

/* line 862, ../scss/style.scss */
.footer {
  background-color: #727b8d;
}
