@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
/* line 5, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../scss/style.scss */
* {
  box-sizing: border-box;
}

/* line 14, ../scss/style.scss */
body {
  font-family: "Oswald", sans-serif;
}

/* line 18, ../scss/style.scss */
button {
  background: none;
  background-color: none;
}
/* line 22, ../scss/style.scss */
button:focus {
  outline: none;
  box-shadow: none;
}

/* line 28, ../scss/style.scss */
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Oswald", sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 0 10px grey;
  background-color: #fff;
  z-index: 99999;
}
/* line 40, ../scss/style.scss */
.navigation .navigation__inner-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
/* line 51, ../scss/style.scss */
.navigation .navigation__inner-wrapper .navigation__brand {
  display: inline-block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
/* line 57, ../scss/style.scss */
.navigation .navigation__inner-wrapper .navigation__brand img {
  max-width: 180px;
}
/* line 62, ../scss/style.scss */
.navigation .navigation__inner-wrapper .navigation__toggle-bar {
  display: none;
  margin-left: auto;
}
/* line 66, ../scss/style.scss */
.navigation .navigation__inner-wrapper .navigation__toggle-bar .openMenu {
  font-size: 20px;
  padding: 3px 13px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #4d4d4d;
  color: #4d4d4d;
  border-radius: 3px;
}
@media screen and (max-width: 992px) {
  /* line 62, ../scss/style.scss */
  .navigation .navigation__inner-wrapper .navigation__toggle-bar {
    display: block;
  }
}
/* line 81, ../scss/style.scss */
.navigation .navigation__inner-wrapper .navigation-menu {
  flex: 1 1 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  transition: height 0.2s linear;
}
/* line 89, ../scss/style.scss */
.navigation .navigation__inner-wrapper .navigation-menu .navigation-menu__link {
  font-size: 20px;
  padding: 3px 8px;
}
/* line 96, ../scss/style.scss */
.navigation .navigation__inner-wrapper .navigation-menu .navigation-menu__link:after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  margin-top: 3px;
  background-color: #dc2c1d;
  transition: 0.2s linear;
}
/* line 107, ../scss/style.scss */
.navigation .navigation__inner-wrapper .navigation-menu .navigation-menu__link:hover:after {
  width: 100%;
}
/* line 111, ../scss/style.scss */
.navigation .navigation__inner-wrapper .navigation-menu .navigation-menu__link a {
  text-decoration: none;
  color: #4d4d4d;
  width: 100%;
  display: block;
}
/* line 119, ../scss/style.scss */
.navigation .navigation__inner-wrapper .navigation-menu .menuCloser {
  display: none;
}
@media screen and (max-width: 992px) {
  /* line 81, ../scss/style.scss */
  .navigation .navigation__inner-wrapper .navigation-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 0px;
    overflow: hidden;
    width: 100%;
  }
  /* line 181, ../scss/style.scss */
  .navigation .navigation__inner-wrapper .navigation-menu.navigation-menu {
    margin-right: -15px;
    margin-left: -15px;
  }
  /* line 186, ../scss/style.scss */
  .navigation .navigation__inner-wrapper .navigation-menu .navigation-menu__link {
    padding: 15px 15px;
  }
  /* line 189, ../scss/style.scss */
  .navigation .navigation__inner-wrapper .navigation-menu .navigation-menu__link:after {
    display: none;
  }
  /* line 193, ../scss/style.scss */
  .navigation .navigation__inner-wrapper .navigation-menu .navigation-menu__link:hover:after {
    width: 0;
  }
  /* line 197, ../scss/style.scss */
  .navigation .navigation__inner-wrapper .navigation-menu .navigation-menu__link:not(:last-child) {
    border-bottom: 1px solid black;
  }
  /* line 201, ../scss/style.scss */
  .navigation .navigation__inner-wrapper .navigation-menu .navigation-menu__link:last-child {
    padding-bottom: 3px;
  }
}

/* line 210, ../scss/style.scss */
.slider-1 {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
@media (max-width: 768px) {
  /* line 210, ../scss/style.scss */
  .slider-1 {
    margin-top: 1rem;
  }
}
/* line 218, ../scss/style.scss */
.slider-1 .slider-heading {
  font-size: 50px;
  font-family: "Lobster", cursive;
  text-align: center;
  margin-bottom: 3rem;
}
/* line 225, ../scss/style.scss */
.slider-1 .owl-stage-outer {
  position: relative;
  max-width: 768px;
  margin-right: auto;
  margin-left: auto;
}
/* line 232, ../scss/style.scss */
.slider-1 .owl-stage {
  height: 100%;
}
/* line 237, ../scss/style.scss */
.slider-1 .owl-item .bgi-div {
  max-width: 768px;
  width: 100%;
  height: 475px;
}
/* line 244, ../scss/style.scss */
.slider-1 .owl-item:nth-of-type(1) .bgi-div {
  background: url("../images/1.JPG") no-repeat bottom center;
  background-size: cover;
}
/* line 251, ../scss/style.scss */
.slider-1 .owl-item:nth-of-type(2) .bgi-div {
  background: url("../images/2.JPG") no-repeat bottom center;
  background-size: cover;
}
/* line 258, ../scss/style.scss */
.slider-1 .owl-item:nth-of-type(3) .bgi-div {
  background: url("../images/3.JPG") no-repeat bottom center;
  background-size: cover;
}
/* line 265, ../scss/style.scss */
.slider-1 .owl-item:nth-of-type(4) .bgi-div {
  background: url("../images/4.JPG") no-repeat bottom center;
  background-size: cover;
}
/* line 272, ../scss/style.scss */
.slider-1 .controls {
  display: flex;
  position: absolute;
  justify-content: space-between;
  overflow: visible;
  width: 100%;
  height: 0px;
}
/* line 281, ../scss/style.scss */
.slider-1 .controls button {
  background: none;
  border: none;
  color: white;
  font-size: 5em;
  visibility: visible;
  cursor: pointer;
}
/* line 291, ../scss/style.scss */
.slider-1 .controls button:hover, .slider-1 .controls button:active {
  color: rgba(255, 255, 255, 0.7);
}
/* line 298, ../scss/style.scss */
.slider-1 .falseNavigationLeft {
  border-radius: 0 5px 5px 0;
}
/* line 302, ../scss/style.scss */
.slider-1 .falseNavigationRight {
  border-radius: 5px 0 0 5px;
}

/* line 351, ../scss/style.scss */
.header {
  position: relative;
  padding: 9em 0 2em 0;
  background: url("../images/beach-background-laptop-97374.jpg") no-repeat center center;
  background-size: cover;
  text-align: center;
}
@media (max-width: 768px) {
  /* line 351, ../scss/style.scss */
  .header {
    max-height: 600px;
    padding: 6em 0 2em 0;
  }
}
/* line 365, ../scss/style.scss */
.header .container {
  max-width: 1110px;
  margin: 0 auto;
}
/* line 370, ../scss/style.scss */
.header .header__title {
  font-family: "Lobster", cursive;
  font-size: 8em;
  color: #dc2c1d;
  line-height: 0.8em;
  max-width: 850px;
  margin: 0 auto 3rem auto;
}
@media (max-width: 992px) {
  /* line 370, ../scss/style.scss */
  .header .header__title {
    font-size: 6em;
    max-width: 65%;
  }
}
@media (max-width: 768px) {
  /* line 370, ../scss/style.scss */
  .header .header__title {
    font-size: 4em;
    max-width: 60%;
  }
}
@media (max-width: 576px) {
  /* line 370, ../scss/style.scss */
  .header .header__title {
    font-size: 3em;
    max-width: 60%;
  }
}
/* line 395, ../scss/style.scss */
.header .header__title_left {
  text-align: left;
  text-shadow: 5px 2px 3px white;
}
/* line 400, ../scss/style.scss */
.header .header__title_right {
  display: block;
  text-align: right;
}
/* line 405, ../scss/style.scss */
.header .header__subtitle {
  font-size: 3.2em;
  margin-bottom: 3rem;
  font-weight: 600;
}
@media (max-width: 992px) {
  /* line 405, ../scss/style.scss */
  .header .header__subtitle {
    font-size: 2.5em;
  }
}
@media (max-width: 768px) {
  /* line 405, ../scss/style.scss */
  .header .header__subtitle {
    font-size: 2em;
  }
}
/* line 418, ../scss/style.scss */
.header .header__subtitle:before {
  content: "";
  height: 3px;
  width: 90%;
  background: #000;
  display: block;
  margin: 0 auto 20px auto;
}
@media (max-width: 768px) {
  /* line 418, ../scss/style.scss */
  .header .header__subtitle:before {
    height: 2px;
  }
}
/* line 432, ../scss/style.scss */
.header .header__text {
  font-weight: 500;
  font-size: 3em;
  line-height: 1.25;
  margin: 0 2rem;
}
@media (max-width: 992px) {
  /* line 432, ../scss/style.scss */
  .header .header__text {
    font-size: 2em;
  }
}
@media (max-width: 768px) {
  /* line 432, ../scss/style.scss */
  .header .header__text {
    font-size: 1.7em;
  }
}
@media (max-width: 576px) {
  /* line 432, ../scss/style.scss */
  .header .header__text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.5em;
  }
}
/* line 453, ../scss/style.scss */
.header .header__text span:not(:first-child):before {
  content: "";
  background-image: url("https://i.ibb.co/C2gVk9Z/3-55.png");
  display: inline-block;
  width: 28px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 12px;
  margin-left: 12px;
}
@media (max-width: 576px) {
  /* line 453, ../scss/style.scss */
  .header .header__text span:not(:first-child):before {
    width: 15px;
    height: 15px;
  }
}
/* line 470, ../scss/style.scss */
.header .header__text span:last-child:after {
  display: none;
}

/* line 476, ../scss/style.scss */
.header__phone {
  margin-top: 3rem;
  display: inline-block;
  font-size: 50px;
  text-decoration: none;
  color: #dc2c1d;
  display: flex;
  justify-content: center;
}
/* line 485, ../scss/style.scss */
.header__phone i,
.header__phone svg {
  color: #5a585b;
  fill: #5a585b;
}
@media (max-width: 992px) {
  /* line 476, ../scss/style.scss */
  .header__phone {
    font-size: 3em;
  }
}
@media (max-width: 576px) {
  /* line 476, ../scss/style.scss */
  .header__phone {
    font-size: 1.8em;
  }
}

/* line 500, ../scss/style.scss */
.title {
  font-family: "Lobster", cursive;
  font-size: 3em;
  text-align: center;
  margin-bottom: 3rem;
  color: #db2c1d;
}

/* line 507, ../scss/style.scss */
.our-advantages {
  padding: 3rem 0 0 0;
}

/* line 510, ../scss/style.scss */
.advantages {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 768px) {
  /* line 510, ../scss/style.scss */
  .advantages {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  /* line 521, ../scss/style.scss */
  .advantages .advantages__item {
    flex: 0 1 30%;
    margin-bottom: 20px;
  }
}
/* line 527, ../scss/style.scss */
.advantages .advantages__item img {
  width: 6em;
  margin-bottom: 0.9rem;
}
/* line 532, ../scss/style.scss */
.advantages .advantages__item .icon {
  font-size: 2.5em;
  color: #7e7b7f;
  margin-bottom: 0.7rem;
}
/* line 538, ../scss/style.scss */
.advantages .advantages__item .advantages__text {
  width: 8rem;
}
@media (max-width: 768px) {
  /* line 538, ../scss/style.scss */
  .advantages .advantages__item .advantages__text {
    width: auto;
  }
}

/* line 548, ../scss/style.scss */
.ways {
  padding: 3rem 0 0 0;
  margin-top: -20px;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 768px) {
  /* line 548, ../scss/style.scss */
  .ways {
    padding: 3rem 0 0 0;
  }
}
/* line 558, ../scss/style.scss */
.ways .directions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* line 563, ../scss/style.scss */
.ways .directions .directions__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: ease 0.4s all;
}
/* line 574, ../scss/style.scss */
.ways .directions .directions__card {
  position: relative;
  transition: ease 0.4s all;
  margin-bottom: 2rem;
  flex: 0 1 45%;
  position: relative;
  padding: 5rem 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 270px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 582, ../scss/style.scss */
.ways .directions .directions__card:nth-of-type(1) {
  background-image: url("../images/seas/zalizny-port.jpg");
}
/* line 586, ../scss/style.scss */
.ways .directions .directions__card:nth-of-type(2) {
  background-image: url("../images/seas/lazurnoe.jpg");
}
/* line 590, ../scss/style.scss */
.ways .directions .directions__card:nth-of-type(3) {
  background-image: url("../images/seas/skadovsk.jpg");
}
/* line 594, ../scss/style.scss */
.ways .directions .directions__card:nth-of-type(4) {
  background-image: url("../images/seas/berdyansk.jpg");
}
/* line 598, ../scss/style.scss */
.ways .directions .directions__card:nth-of-type(5) {
  background-image: url("../images/seas/schastlivcevo.jpg");
}
/* line 602, ../scss/style.scss */
.ways .directions .directions__card:nth-of-type(6) {
  background-image: url("../images/seas/genichesk.jpg");
}
/* line 606, ../scss/style.scss */
.ways .directions .directions__card:nth-of-type(7) {
  background-image: url("../images/seas/kirilovka.jpg");
}
/* line 610, ../scss/style.scss */
.ways .directions .directions__card:nth-of-type(8) {
  background-image: url("../images/seas/zatoka.jpg");
}
@media (max-width: 992px) {
  /* line 574, ../scss/style.scss */
  .ways .directions .directions__card {
    flex: 0 1 85%;
    height: 50vh;
  }
}
@media (max-width: 576px) {
  /* line 574, ../scss/style.scss */
  .ways .directions .directions__card {
    flex: 0 1 85%;
    height: 40vh;
  }
}
/* line 633, ../scss/style.scss */
.ways .directions .directions__card .directions__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 639, ../scss/style.scss */
.ways .directions .directions__card .directions__content .directions__icon {
  color: #fff;
  font-size: 2em;
  z-index: 2;
}
/* line 645, ../scss/style.scss */
.ways .directions .directions__card .directions__content .directions__title {
  font-size: 1.8em;
  font-weight: 500;
  margin-bottom: 1.8rem;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  z-index: 2;
}
/* line 653, ../scss/style.scss */
.ways .directions .directions__card .directions__content .directions__link {
  color: #fff;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  z-index: 2;
  transition: ease 0.3s all;
}
/* line 661, ../scss/style.scss */
.ways .directions .directions__card .directions__content .directions__link:hover {
  text-decoration: none;
  transform: scale(1.1);
}
/* line 668, ../scss/style.scss */
.ways .directions .directions__card .directions__price {
  font-size: 2em;
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
  transform: translate(0%, -50%);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  z-index: 2;
}
/* line 678, ../scss/style.scss */
.ways .directions .directions__card:hover .directions__overlay {
  opacity: 1;
}

/* line 689, ../scss/style.scss */
.sec5 {
  padding-right: 15px;
  padding-left: 15px;
  z-index: 0;
  max-width: 768px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* line 699, ../scss/style.scss */
.why-us {
  font-family: "Lobster", cursive;
  text-align: center;
  font-size: 50px;
}
/* line 704, ../scss/style.scss */
.why-us h2 {
  color: #db2c1d;
  margin-bottom: 3rem;
}

/* line 710, ../scss/style.scss */
.inside {
  font-family: "Oswald", cursive;
  text-align: center;
  font-size: 25px;
}

/* line 716, ../scss/style.scss */
.why-us__paragraph {
  margin-top: 10px;
  line-height: 1.5;
}
/* line 720, ../scss/style.scss */
.why-us__paragraph:before {
  content: "";
  background-image: url("https://i.ibb.co/C2gVk9Z/3-55.png");
  display: block;
  width: 28px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

/* line 734, ../scss/style.scss */
.end-text {
  margin-top: 40px;
  font-size: 20px;
  text-align: justify;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.5;
}

/* line 744, ../scss/style.scss */
.why-us__logo {
  margin-top: 50px;
}
/* line 747, ../scss/style.scss */
.why-us__logo img {
  max-width: 280px;
}

/* line 752, ../scss/style.scss */
.why-us__tel {
  font-family: "Oswald", cursive;
  text-align: center;
  align-items: center;
  margin-top: 40px;
  font-size: 50px;
}
/* line 759, ../scss/style.scss */
.why-us__tel a {
  color: #d22020;
  text-decoration: none;
}
@media (max-width: 992px) {
  /* line 752, ../scss/style.scss */
  .why-us__tel {
    font-size: 3em;
  }
}
@media (max-width: 576px) {
  /* line 752, ../scss/style.scss */
  .why-us__tel {
    font-size: 1.8em;
  }
}

/* line 773, ../scss/style.scss */
.we__soc {
  font-family: "Oswald";
  text-align: center;
  margin-top: 50px;
  font-size: 28px;
  color: #000000;
}

/* line 781, ../scss/style.scss */
.sec5__soc {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 768px;
}
/* line 792, ../scss/style.scss */
.sec5__soc .social-link {
  flex: 1 1 50%;
  padding: 15px;
}
@media screen and (max-width: 768px) {
  /* line 792, ../scss/style.scss */
  .sec5__soc .social-link {
    flex: 1 1 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
}
/* line 802, ../scss/style.scss */
.sec5__soc .social-link ul {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
/* line 810, ../scss/style.scss */
.sec5__soc .social-link ul:first-child {
  margin-left: auto;
}
/* line 814, ../scss/style.scss */
.sec5__soc .social-link ul:nth-child(1) {
  margin-right: auto;
}
/* line 819, ../scss/style.scss */
.sec5__soc .social-link ul li img {
  margin-right: 5px;
}
/* line 823, ../scss/style.scss */
.sec5__soc .social-link ul li a {
  text-decoration: none;
  color: #000;
  position: relative;
  top: -7px;
}

/* line 834, ../scss/style.scss */
.title-footer {
  font-family: "Oswald";
  text-align: center;
  font-size: 30px;
  margin-top: 15px;
  color: #ffff;
  height: auto;
  padding: 15px;
}

/* line 844, ../scss/style.scss */
.title-footer__two {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: center;
  padding: 10px 0;
}

/* line 851, ../scss/style.scss */
.footer-link {
  color: #fff;
  font-weight: lighter;
}

/* line 857, ../scss/style.scss */
.footer {
  margin-top: 30px;
  background-color: #727b8d;
}
